@import url('reset.css');

/* continer width 30 = sum of:
padding width 2vw*2=4vw
label width 6vw
input width 18vw
eye icon overall 2vw */

.container {
  position: absolute;
  width: 30vw;
  padding: 2vw;
  left: 35vw; /* (100 - width 30) /2 */
  top: 7vh;
}

.title {
  text-align: center;
  padding-bottom: 2vh;
}

.label {
  display: inline-block;
  width: 6vw;
}

input {
  display: inline-block;
  width: 18vw;
  border-bottom: 1px solid black !important;
  padding: 0.3rem 0;
  margin-bottom: 1rem;
  vertical-align: middle;
}

.center {
  text-align: center;
}

.button {
  border: 1px solid black !important;
  margin-top: 3vh;
  padding: 0.4rem 1rem;
  background: white;
  cursor: pointer;
}

/* Password Eye */
.passwordField {
  display: inline-block;
  position: relative;
}
.passwordField input {
  vertical-align: middle;
  padding-right: 30px;
}
.toggle-password {
  display: inline-block;
  vertical-align: middle;
  border: none;
  background: transparent;
  cursor: pointer;
  margin-left: 0.75vw;
}

.icon {
  width: 1.25vw !important;
  height: 1.25vw;
}