/* .container {
  position: absolute;
  width: 30vw;
  padding: 0vw;
  left: 35vw; (100 - width 30)/2 
  background-color: white;
}
  */

.rightAlign {
  text-align: right;
}


.header {
  position: absolute;
  height: 4vh;
  width: 100vw;
  background-color: #C1C2B4;
  padding: 0.25vh 1vw;
}

.leftPartition {
  position: absolute;
  width: 10vw;
  height: 90vh;
  top: 4vh;
  background-color: #E8E9DF;
}

.centerPartition {
  position: absolute;
  width: 80vw;
  height: 90vh;
  top: 4vh;
  left: 10vw;
  background-color: #EFF2E4;
  padding: 5vw;
}

.rightPartition {
  position: absolute;
  width: 10vw;
  height: 90vh;
  top: 4vh;
  left: 90vw;
  background-color: #E8E9DF;
}

.footer {
  position: absolute;
  height: 6vh;
  width: 100vw;
  top: 94vh;
  background-color: #C5C6B8;
}