/* ------------------------------------------------------
   COMBINED GLOBAL RESET
   Based on Meyer Reset v2.0 + Modern Zero-Opinion Wipe
   Removes ALL browser default spacing, styles, UI,
   including autofill + dark-mode input backgrounds.
   ------------------------------------------------------ */

/* Base element wipe (Meyer + modern merge) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display fixes */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Universal wipe */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background: none;
  text-decoration: none;
  font: inherit;
  color: inherit;
}

/* Lists */
ul, ol {
  list-style: none;
}

/* Quotes */
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Media elements */
img, svg, video, canvas, audio, iframe {
  display: block;
  max-width: 100%;
}

/* Root defaults */
html, body {
  line-height: 1;
  width: 100%;
  height: 100%;
}

/* ------------------------------------------------------
   FORM ELEMENT WIPE (including autofill removal)
   ------------------------------------------------------ */

input,
textarea,
select,
button {
  appearance: none !important;
  -webkit-appearance: none !important;
  background: none !important;
  border: 0 !important;
  outline: 0 !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  font: inherit;
  color: inherit;
}

/* Autofill wipe (Chrome/Edge/Safari) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: inherit !important;
    background-color: transparent !important;
    transition: background-color 50000s ease-in-out 0s !important;
}

/* Ensure Safari/iOS forced backgrounds are removed */
input[type="text"],
input[type="search"],
input[type="password"],
textarea {
  background-color: transparent !important;
}

/* Buttons */
button {
  padding: 0;
  cursor: pointer;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}

/* Remove focus outlines (you should define your own visible focus style) */
:focus {
  outline: none !important;
}

/* addition: make inputs and inline */
/* form, input {
  display: inline;
} */

